<div class="content">
  <mat-card>
    <form class="form-usd row" [formGroup]="formValue">
      <div class="col s12">
        <h3 class="t-currency">USD - United States Dollars</h3>
      </div>
      <div class="col s12 m6 l6 subt-currency" >
        USD
      </div>
      <mat-form-field class="col s12 m6 l6" appearance="outline" color="accent">
          <mat-label>Value</mat-label>
          <input type="text" 
          matInput 
          formControlName="value" 
          (keyup.enter)="onChangedValue($event.target.value)"
          (blur)="onChangedValue($event.target.value)"
          placeholder="10.00">
      </mat-form-field>
    </form>
    <div class="col">
      <div class="row">
        <div [hidden]="!isIdr">
          <mat-card>
            <div class="col s10 m10 l10">
              <div class="row">
                <div class="col s4 m4 l4">
                  <h3 class="subt-currency">IDR</h3>
                  <p>IDR - Indonesian Rupiah</p>
                  <p>1 USD = {{ currencies.IDR | number }}</p>
                </div>
                <div class="col s6 m6 l6">
                    <h3 class="subt-value">IDR {{ idr_value | number }}</h3>
                </div>
              </div>
            </div>
            <div class="col s2 m2 l2">
              <div class="row">
                <span>
                  <button (click)="hideIdr()">&times;</button>
                </span>
              </div>
            </div>
          </mat-card>
        </div>

        <div [hidden]="!isUsd">
          <mat-card>
            <div class="col s10 m10 l10">
              <div class="row">
                <div class="col s4 m4 l4">
                  <h3 class="subt-currency">USD</h3>
                  <p>USD - United States Dollar</p>
                  <p>1 USD = {{ currencies.USD | number }}</p>
                </div>
                <div class="col s6 m6 l6">
                    <h3 class="subt-value">USD {{ usd_value | number }}</h3>
                </div>
              </div>
            </div>
            <div class="col s2 m2 l2">
              <div class="row">
                <span>
                  <button (click)="hideUsd()">&times;</button>
                </span>
              </div>
            </div>
          </mat-card>
        </div>

        <div [hidden]="!isCad">
          <mat-card>
            <div class="col s10 m10 l10">
              <div class="row">
                <div class="col s4 m4 l4">
                  <h3 class="subt-currency">CAD</h3>
                  <p>CAD - Canadian Dollar</p>
                  <p>1 USD = CAD {{ currencies.CAD | number }}</p>
                </div>
                <div class="col s6 m6 l6">
                    <h3 class="subt-value">CAD {{ cad_value | number }}</h3>
                </div>
              </div>
            </div>
            <div class="col s2 m2 l2">
              <div class="row">
                <span>
                  <button (click)="hideCad()">&times;</button>
                </span>
              </div>
            </div>
          </mat-card>
        </div>

        <div [hidden]="!isGbp">
          <mat-card>
            <div class="col s10 m10 l10">
              <div class="row">
                <div class="col s4 m4 l4">
                  <h3 class="subt-currency">GBP</h3>
                  <p>GBP - Great Britain Pound</p>
                  <p>1 USD =GBP {{ currencies.GBP | number }}</p>
                </div>
                <div class="col s6 m6 l6">
                    <h3 class="subt-value">GBP {{ gbp_value | number }}</h3>
                </div>
              </div>
            </div>
            <div class="col s2 m2 l2">
              <div class="row">
                <span>
                  <button (click)="hideGbp()">&times;</button>
                </span>
              </div>
            </div>
          </mat-card>
        </div>

        <div [hidden]="!isChf">
          <mat-card>
            <div class="col s10 m10 l10">
              <div class="row">
                <div class="col s4 m4 l4">
                  <h3 class="subt-currency">CHF</h3>
                  <p>CHF - Swiss Franc</p>
                  <p>1 USD = CHF {{ currencies.CHF | number }}</p>
                </div>
                <div class="col s6 m6 l6">
                    <h3 class="subt-value">CHF {{ chf_value | number }}</h3>
                </div>
              </div>
            </div>
            <div class="col s2 m2 l2">
              <div class="row">
                <span>
                  <button (click)="hideChf()">&times;</button>
                </span>
              </div>
            </div>
          </mat-card>
        </div>

        <div [hidden]="!isSgd">
          <mat-card>
            <div class="col s10 m10 l10">
              <div class="row">
                <div class="col s4 m4 l4">
                  <h3 class="subt-currency">SGD</h3>
                  <p>SGD - Singaporean Dollar</p>
                  <p>1 USD = SGD {{ currencies.SGD | number }}</p>
                </div>
                <div class="col s6 m6 l6">
                    <h3 class="subt-value">SGD {{ sgd_value | number }}</h3>
                </div>
              </div>
            </div>
            <div class="col s2 m2 l2">
              <div class="row">
                <span>
                  <button (click)="hideSgd()">&times;</button>
                </span>
              </div>
            </div>
          </mat-card>
        </div>

        <div [hidden]="!isInr">
          <mat-card>
            <div class="col s10 m10 l10">
              <div class="row">
                <div class="col s4 m4 l4">
                  <h3 class="subt-currency">INR</h3>
                  <p>INR - Indian Rupee</p>
                  <p>1 USD = INR {{ currencies.INR | number }}</p>
                </div>
                <div class="col s6 m6 l6">
                    <h3 class="subt-value">INR {{ inr_value | number }}</h3>
                </div>
              </div>
            </div>
            <div class="col s2 m2 l2">
              <div class="row">
                <span>
                  <button (click)="hideInr()">&times;</button>
                </span>
              </div>
            </div>
          </mat-card>
        </div>

        <div [hidden]="!isMyr">
          <mat-card>
            <div class="col s10 m10 l10">
              <div class="row">
                <div class="col s4 m4 l4">
                  <h3 class="subt-currency">MYR</h3>
                  <p>MYR - Malaysian Ringgit</p>
                  <p>1 USD = MYR {{ currencies.MYR | number }}</p>
                </div>
                <div class="col s6 m6 l6">
                    <h3 class="subt-value">MYR {{ myr_value | number }}</h3>
                </div>
              </div>
            </div>
            <div class="col s2 m2 l2">
              <div class="row">
                <span>
                  <button (click)="hideMyr()">&times;</button>
                </span>
              </div>
            </div>
          </mat-card>
        </div>

        <div [hidden]="!isJpy">
          <mat-card>
            <div class="col s10 m10 l10">
              <div class="row">
                <div class="col s4 m4 l4">
                  <h3 class="subt-currency">JPY</h3>
                  <p>JPY - Japanese Yen</p>
                  <p>1 USD = JPY {{ currencies.JPY | number }}</p>
                </div>
                <div class="col s6 m6 l6">
                    <h3 class="subt-value">JPY {{ jpy_value | number }}</h3>
                </div>
              </div>
            </div>
            <div class="col s2 m2 l2">
              <div class="row">
                <span>
                  <button (click)="hideJpy()">&times;</button>
                </span>
              </div>
            </div>
          </mat-card>
        </div>

        <div [hidden]="!isKrw">
          <mat-card>
            <div class="col s10 m10 l10">
              <div class="row">
                <div class="col s4 m4 l4">
                  <h3 class="subt-currency">KRW</h3>
                  <p>KRW - Korean Won</p>
                  <p>1 USD = KRW {{ currencies.KRW | number }}</p>
                </div>
                <div class="col s6 m6 l6">
                    <h3 class="subt-value">KRW {{ krw_value | number }}</h3>
                </div>
              </div>
            </div>
            <div class="col s2 m2 l2">
              <div class="row">
                <span>
                  <button (click)="hideKrw()">&times;</button>
                </span>
              </div>
            </div>
          </mat-card>
        </div>
      

        <mat-form-field class="select-currency">
          <mat-label>Add more currency</mat-label>
          <select matNativeControl required [(ngModel)]="selected" (change)="getOption()">
            <option value=""> </option>
            <option [hidden]="isIdr" value="IDR">IDR</option>
            <option [hidden]="isUsd" value="USD">USD</option>
            <option [hidden]="isCad" value="CAD">CAD</option>
            <option [hidden]="isGbp" value="GBP">GBP</option>
            <option [hidden]="isChf" value="CHF">CHF</option>
            <option [hidden]="isSgd" value="SGD">SGD</option>
            <option [hidden]="isInr" value="INR">INR</option>
            <option [hidden]="isMyr" value="MYR">MYR</option>
            <option [hidden]="isJpy" value="JPY">JPY</option>
            <option [hidden]="isKrw" value="KRW">KRW</option>
          </select>
        </mat-form-field>
      </div>
    </div>

  </mat-card>
</div>